*{
  margin:0px;
  padding: 0px;
  box-sizing: border-box;
  max-width:100vw;  
}
html{
  font-size: 100%;
}
@media only screen and (max-width:768px)
{
  html{
    font-size: 70%;
  }
  .home-section-1{
    top:39rem !important;
  }
}
:root{
  --primary:#38bde6;
}
.primary{
  color:#38bde6;
}
.bg-color{
  background-color: #041228;
}
.landing-image{

  top:0px;
  left:0px;
  width:100%;
  height:auto;
}
.landing-image img{
  width:100%;height:100%;
}
.home-section-1{
 position: absolute;
 width:100%;
 top:48rem;
 left:0;

}
/*buuton styling*/
.button {
  position: relative;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background:var(--primary);
  padding: 0.4rem 1rem;
  border: none;
  color: white;
  font-size: 1rem;
  cursor: pointer;
  outline: none;
  overflow: hidden;
  border-radius: 100px;
}
.button span {
  position: relative;
  pointer-events: none;
}
.button::before {
  --size: 0;
  content: '';
  position: absolute;
  left: var(--x);
  top: var(--y);
  width: var(--size);
  height: var(--size);
  background: radial-gradient(circle closest-side, #4405f7, transparent);
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  transition: width .2s ease, height .2s ease;
}
.button:hover::before {
  --size: 400px;
}

@media only screen and (max-width:1024px)
{
  
}