*{
  margin:0px;
  padding: 0px;
  box-sizing: border-box;
  max-width:100vw;  

}
:root{
  --primary:#38bde6;
}
.primary{
  color:#38bde6;
}
.bg-color{
  background-color: #041228;
}
.landing-image{ 
position: relative;
width:100vw;
height:300vh;
}
.landing-image::before{
  position:absolute;
  content: "";
  background-image: url('images/background.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width:100%;
  height:100%;
  top:0;
  left:0;

}
.landing-image img{
  width:100%;height:100%;
}

/*buuton styling*/
.button {
  position: relative;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background:var(--primary);
  padding: 0.4rem 1rem;
  border: none;
  color: white;
  font-size: 1rem;
  cursor: pointer;
  outline: none;
  overflow: hidden;
  border-radius: 100px;
}
.button span {
  position: relative;
  pointer-events: none;
}
.button::before {
  --size: 0;
  content: '';
  position: absolute;
  left: var(--x);
  top: var(--y);
  width: var(--size);
  height: var(--size);
  background: radial-gradient(circle closest-side, #4405f7, transparent);
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  transition: width .2s ease, height .2s ease;
}
.button:hover::before {
  --size: 400px;
}

.circle{
  width:5.5rem;
  height:1.6rem;
  background-color: var(--primary);
  border-radius: 5.5rem;
}
@media only screen and (max-width:768px)
{
  .circle{
    width:1.6rem;
    height:1.6rem;
  }
}
@media only screen and (max-width:555px)
{
  .circle{
    width:2rem;
    height:1.6rem;
  }
}